@using BusinessLayer.Helpers;
<div class="row">
    <div class="col-sm-4 categorias">
        <h4></h4>
    </div>
    <div class="col-sm-8 faqs">
        <p>La presente Política de Privacidad es parte integrante e indivisible del apartado –Información Legal- del sitio web <a href="https://www.invesafe.com" target="_blank" rel="noopener">www.invesafe.com</a> (en adelante, el sitio web).</p><p>En cumplimiento con el deber de información recogido en artículo 10 de la Ley 34/2002, de 11 de Julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico (en adelante, LSSI), le informamos que el Sitio Web es titularidad de la empresa Invesafe Global Properties PFP, S.L. (en adelante, Invesafe), con CIF B-87269999 y domicilio social en Calle @CommonHelper.getParamCache().addressInvesafe e inscrita en el Registro Mercantil de Madrid al Tomo 33.521, Folio 32, Sección 8ª, Hoja M-603354, inscripción 1ª. Usted puede ponerse en contacto con nosotros a través de la siguiente dirección de correo electrónico <a href="mailto:info@invesafe.com">info@invesafe.com</a>.</p><p>Invesafe desea poner en conocimiento de los usuarios del sitio web su política de privacidad relativa al tratamiento y protección de los datos de carácter personal de los usuarios que recaba de los mismos con motivo de la visualización del sitio web o de la utilización de los servicios ofrecidos en el mismo.</p><p>Por dato de carácter personal se entenderá cualquier información numérica, alfabética, gráfica, fotográfica, acústica o de cualquier otro tipo concerniente a personas físicas identificadas o identificables.</p><p>La recogida de datos personales, el tratamiento y su utilización posterior se sujetan a la legislación vigente en España en materia de protección de datos, establecida por la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (en adelante <strong>LOPD</strong>) su Reglamento de desarrollo o cualquier otra que pudiera resultar de aplicación.</p><p>Invesafe sólo será responsable y garantizará la confidencialidad y seguridad respecto de los datos de carácter personal que recabe del usuario o que éste facilite a través del sitio web.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 categorias">
        <h4>When are personal data collected from users on the website?</h4>
    </div>
    <div class="col-sm-8 faqs">
        <p>Invesafe informa a sus usuarios que la recogida de datos de carácter personal podría realizarse, principalmente, a través del envío de un correo electrónico a la dirección electrónica <a href="mailto:info@invesafe.com">info@invesafe.com</a>, siempre que usted incluyese en el mismo algún dato de carácter personal, así como por medio de los formularios que Invesafe incluya en el sitio web.</p><p>En cumplimiento de lo dispuesto en el artículo 5 de la LOPD y art. 21 de la LSSI, le informamos que los datos personales que haya facilitado a Invesafe serán incorporados a un fichero titularidad de Invesafe denominado Gestión de Usuarios, debidamente declarado en el Registro General de Protección de Datos.</p><p>Invesafe informa a los usuarios del sitio web que el carácter facultativo u obligatorio de la cumplimentación de la totalidad de los datos solicitados será advertido previamente. En el caso en el que el Usuario no facilite datos de carácter personal, marcados como obligatorios, únicamente podrá navegar por el sitio web pero no formalizar la contratación de servicios de Invesafe.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 categorias">
        <h4>Purpose of the collection and processing of personal data</h4>
    </div>
    <div class="col-sm-8 faqs">
        <p>Respecto de los datos personales recogidos por e-mail y/o cumplimentación de los formularios de la web, las finalidades de tratamiento serán las siguientes: prestarle los servicios que hubiera solicitado; contestar a su comunicación; atender a su solicitud de información; remitirle la documentación necesaria o información solicitada; así como, en el caso en el que usted nos autorice expresamente a ello, enviarle comunicaciones comerciales y promocionales relacionadas con oportunidades de inversión relacionadas con los servicios de Invesafe, por carta, teléfono, correo electrónico, SMS/MMS, o por otros medios de comunicación electrónica equivalentes.</p><p>Sus datos también podrán ser utilizados para la segmentación de los mismos, así como para la realización de estadísticas para conocer el tráfico y utilización del Sitio Web por parte de los usuarios, como la determinación de sus gustos y preferencias para remitirle información promocional o publicidad acorde con sus intereses.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 categorias">
        <h4>Data transfer</h4>
    </div>
    <div class="col-sm-8 faqs">
        <p>Mediante la aceptación de esta política de protección de datos, Usted consiente expresamente que los datos de carácter personal que nos facilite podrán ser cedidos a terceras empresas del sector inmobiliario, para la prestación de los servicios que Usted hubiera solicitado.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 categorias">
        <h4>Rights of access, rectification, cancellation and opposition</h4>
    </div>
    <div class="col-sm-8 faqs">
        <p>El usuario podrá en todo momento conocer qué datos de carácter personal han sido recabados y tratados por Invesafe; rectificar la información que resulte inexacta; cancelar dichos datos u oponerse a su tratamiento.</p><p>El ejercicio de estos derechos de acceso, rectificación, cancelación y oposición por parte del usuario deberá realizarse dirigiendo una comunicación escrita, junto con la fotocopia del Documento Nacional de Identidad u otro medio válido en derecho que acredite la identidad del usuario, a la siguiente dirección: Calle @CommonHelper.getParamCache().addressInvesafe. Dicha comunicación contendrá la siguiente información:</p><p>Nombre y apellido del usuario.</p><p>Petición en que concreta la solicitud.</p><p>Domicilio a efectos de notificaciones, fecha y firma del usuario.</p><p>Petición en que concreta la solicitud.</p><p>Domicilio a efectos de notificaciones, fecha y firma del usuario.</p><p>Documentos acreditativos de la petición que formula, en su caso.</p><p>Invesafe pone en conocimiento de los usuarios que el ejercicio de estos derechos es personalísimo, por lo que únicamente el propio usuario podrá ejercer dichos derechos respecto de los datos personales de los que es legítimo titular. No obstante, y en los casos en que excepcionalmente se admita, el representante legal del usuario podrá ejercitar los derechos que a este le asisten en los términos expuestos, siempre que acompañe la mencionada comunicación con el documento acreditativo de tal representación.</p><p>Al facilitar sus datos personales, el Usuario declara y garantiza que son exactos, completos, veraces y que están actualizados, dejando indemne a Invesafe de cualquier tipo de responsabilidad que pudiera generarse como consecuencia del incumplimiento de tal obligación.</p><p>Si el usuario es menor de edad o incapaz, Invesafe advierte de la necesidad de contar con el consentimiento de sus padres, tutores o representantes legales para la comunicación de sus datos personales, por lo que Invesafe prohíbe que un menor de edad o incapaz puedan facilitar sus datos o usar el sitio web si no cuenta con el consentimiento de padres, tutores o representantes legales, no siendo en otro caso Invesafe responsable de las actuaciones del menor o incapaz.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 categorias">
        <h4>Security measures</h4>
    </div>
    <div class="col-sm-8 faqs">
        <p>Invesafe ha adoptado todas las medidas técnicas y de organización necesarias para garantizar la seguridad, confidencialidad e integridad de los datos de carácter personal que se trate, y mantiene los niveles de seguridad de protección de datos personales conforme a la LOPD y su reglamento de desarrollo evitando su pérdida, alteración y/o acceso por parte de terceros no autorizados Invesafe se compromete a cumplir con el deber de secreto y confidencialidad respecto de los datos personales contenidos en el fichero automatizado de acuerdo con la legislación aplicable.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 categorias">
        <h4>Recommendations to users</h4>
    </div>
    <div class="col-sm-8 faqs">
        <p>Invesafe recomienda a los usuarios que utilicen las últimas versiones de los programas informáticos dada la incorporación en estos de mayores medidas de seguridad.</p><p>Igualmente Invesafe recomienda a los usuarios utilizar los mecanismos de seguridad que tengan a su alcance (servidores Web seguros, criptografía, firma digital, firewall, etc.) para proteger la confidencialidad e integridad de sus datos en la medida en que le resulte necesario.</p><p>Invesafe recuerda a los usuarios que Internet no siempre es seguro por lo que deben adoptar las medidas técnicas necesarias y adecuadas con el fin de evitar el tratamiento no autorizado de sus datos.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 categorias">
        <h4>Modifications and Updates</h4>
    </div>
    <div class="col-sm-8 faqs">
        <p>Invesafe se reserva el derecho de revisar esta Política de Privacidad y la posibilidad de modificar la presente política de Privacidad para adaptarla a la normativa y jurisprudencia de aplicación o bien de los criterios o recomendaciones emanadas de la Agencia Española de Protección de Datos. En ese caso, se comunicará a los usuarios. Todo ello sin perjuicio de que los Usuarios deban comprobar regularmente el contenido de la presente Política de Privacidad.</p>
    </div>
</div>