<div class="container" ng-controller="loginController">
    <div class="row">
        <div class="col-md-6 col-lg-5 login-form mx-auto float-none">
            <div>
                <p>@Resource.Views.Account.ActiveAccount.txtActiveSuccess</p>
                <div class="text-center mt-2">
                    <button type="button" class="btn btn-info waves-effect waves-light" ng-click="goToDashboard()">@Resource.Views.Account.ActiveAccount.btnDashboard <i class="fa fa-tachometer-alt ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>