<div class="container-fluid page-information">

    <section class="section section-title">
        <h6>@Resource.Views.Dashboard.AboutUs.title</h6>
        <h2>@Resource.Views.Dashboard.AboutUs.subTitle</h2>
    </section>

    <div class="col-md-12">

    </div>
</div>
