<div class="container-fluid page-fiscal-reports" ng-controller="fiscalreportsController" ng-init="loadFiscalReports()">

    <section class="section section-title">
        <h6>@Resource.Views.Dashboard.FiscalReports.title</h6>
        <h2>@Resource.Views.Dashboard.FiscalReports.subTitle</h2>
    </section>

    <div class="col-md-12">

        <div>@Resource.Views.Dashboard.FiscalReports.noReports</div>

    </div>
</div>


