<div class="container-fluid page-legal-documents" ng-controller="legaldocumentsController" ng-init="loadLegalDocuments()">

    <section class="section section-title">
        <h6>@Resource.Views.Dashboard.LegalDocuments.title</h6>
        <h2>@Resource.Views.Dashboard.LegalDocuments.subTitle</h2>
    </section>

    <div class="col-md-12">

        <h5>@Resource.Views.Dashboard.LegalDocuments.titProjects</h5>
        <div>@Resource.Views.Dashboard.LegalDocuments.txtProjects</div>

    </div>
</div>



