<div class="container-fluid page-information">

    <section class="section section-title">
        <h6>@Resource.Views.Dashboard.UseConditions.title</h6>
        <h2>@Resource.Views.Dashboard.UseConditions.subTitle</h2>
    </section>

    <div class="col-md-12">

        <div class="resumee">
            @Html.Partial("Language/" + @Resource.Views.Dashboard.UseConditions.partialPage)
            <div class="row">
                <div class="col-sm-12">
                    <div class="separador-60"></div>
                </div>
            </div>
        </div>

    </div>
</div>


