/* Alertas */

.border {
    border: 1px solid #dee2e6 !important;

    .font-weight-bold {
        font-weight: 700 !important;
    }
}

.border-danger {
    border-color: #ff3547 !important;
}

.alert.alert-info:before {
	content: 'Información: ';
	font-weight: bold;
}
.alert.alert-warning:before {
	content: 'Advertencia: ';
	font-weight: bold;
}
.alert.alert-danger:before {
    content: 'Advertencia: ';
    font-weight: bold;
}

.info-admin-panel {
	.fa {
		font-size: 20px;
	}
	.fa-hourglass-half {
		margin-right: 4px;
	}
}

.color-3, .fa-exclamation-circle{
	color: #ff3547;
}
.color-1, .fa-exclamation-triangle {
	color: #4a5b64;
}
.color-2, .fa-arrow-alt-circle-up {
	color: #f80;
}
.color-4, .fa-check-circle {
	color: #00c851;
}