.modal-dialog.modal-notify.modal-info .modal-header {
  background-color: #33b5e5; }
  .modal-dialog.modal-notify.modal-info .modal-header p.heading {
    color: #fff; }

.modal-dialog.modal-notify.modal-info .fa {
  color: #33b5e5; }

.modal-dialog.modal-notify.modal-warning .modal-header {
  background-color: #fb3; }
  .modal-dialog.modal-notify.modal-warning .modal-header p.heading {
    color: #fff; }

.modal-dialog.modal-notify.modal-warning .fa {
  color: #fb3; }
