<log4net threshold="off">
  <logger name="logError">
    <level value="Warn" />
    <appender-ref ref="AppenderLogErrors" />
  </logger>
  <logger name="logAction">
    <level value="Info" />
    <appender-ref ref="AppenderLogAction" />
  </logger>
  <appender name="AppenderLogErrors" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionStringName value="invesafeLogs" />
    <commandText value="INSERT INTO dbo.log_error ([session_id], [log_date],[log_thread],[log_level],[log_message],[log_exception]) VALUES (@session_id, @log_date, @thread, @log_level, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@session_id" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%aspnet-session{sessionId}" />
      </layout>
    </parameter>
  </appender>
  <appender name="AppenderLogAction" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionStringName value="invesafeLogs" />
    <commandText value="INSERT INTO dbo.log_action ([session_id], [log_date],[log_thread],[log_controller],[log_action],[log_request],[log_response],[log_elapsed],[log_ip]) VALUES (@session_id, @log_date, @thread, @controller, @action, @request, @response, @elapsed, @ip)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@controller" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{controller}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@action" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{action}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@request" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{request}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@response" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@elapsed" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{elapsed}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@session_id" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%aspnet-session{sessionId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ip" />
      <dbType value="String" />
      <size value="15" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%aspnet-request{REMOTE_ADDR}" />
      </layout>
    </parameter>
  </appender>
</log4net>